<p id="notice"><%= notice %></p>

<h1>Onboardings</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>No of investment</th>
      <th>Stock interest</th>
      <th>Transaction timeframe</th>
      <th>Transaction size</th>
      <th>Invest location preferences</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onboardings.each do |onboarding| %>
      <tr>
        <td><%= onboarding.email %></td>
        <td><%= onboarding.no_of_investment %></td>
        <td><%= onboarding.invest_location_preferences %></td>
        <td><%= onboarding.stock_interest %></td>
        <td><%= onboarding.transaction_timeframe %></td>
        <td><%= onboarding.transaction_size %></td>
        <td><%= onboarding.invest_location_preferences %></td>
        <td><%= link_to 'Show', onboarding %></td>
        <td><%= link_to 'Edit', edit_onboarding_path(onboarding) %></td>
        <td><%= link_to 'Destroy', onboarding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Onboarding', new_onboarding_path %>
