<p id="notice"><%= notice %></p>

<p>
  <strong>Image link:</strong>
  <%= @development.image_filename %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @development.desc %>
</p>

<p>
  <strong>Development name:</strong>
  <%= @development.development_name %>
</p>

<p>
  <strong>Development is displayed:</strong>
  <%= @development.is_displayed %>
</p>

<%= link_to 'Edit', edit_development_path(@development) %> |
<%= link_to 'Back', developments_path %>
